{% extends "myuni/browse.html" %}
{% block title %}Modules - {{block.super}}{% endblock title %}

{% block site-messages %}
	<div class="global-message">
		<div class="inner">
			<p>This page should have the URL: <a href="/modules/">/modules/</a></p>
		</div>
	</div>
{% endblock site-messages %}

{% block header-inner %}
				<h1>All Modules</h1>
{% endblock header-inner %}

{% block content-inner %}
				<h3><span>Currently Django has..</span></h3>
				{% if modules %}
				<ul>
				{% for module in modules %}
					<li><a class="module-code" href="{{module.get_absolute_url}}">{{module}}</a> {{module.name}}</li>
				{% endfor %}
				</ul>
				{% else %}
				<div class="error">
					<p>There are no modules available for 2008-2009.</p>
				</div>
				{% endif %}
{% endblock content-inner %}