{% extends "base.backend.html" %}
{% block title %}Create an account - {{block.super}}{% endblock title %}
{% block template %}{{block.super}} login{% endblock template %}

{% block content-inner %}

					<div class="container">
						<div class="header">
							<h2>Create an account</h2>
						</div>
						<form class="signup" method="post">
							<p>The account creation form will go here..</p>
						
							<div class="submitOptions">
								<input type="submit" value="Sign-up" />
								or <a href="/" class="cancel">Cancel and go back</a>
							</div>
						</form>
					</div>
						
						
						{% comment %}
						<form class="login" method="post">
						{% if form_error %}
							<div class="error">
								{{ form_error }}
							</div>
						{% endif %}
							<div class="content">
							{% for field in form %}
								<div class="fieldWrapper inline">
									{{ field.errors }}
									{{ field.label_tag }}
									{{ field }}
								</div>
							{% endfor %}
							</div>
							<div class="submitOptions">
								<input type="submit" value="Register your account" />
								or <a href="/" class="cancel">Cancel and go back</a>
							</div>
						</form>
						{% endcomment %}

{% endblock content-inner %}
