{% extends "myuni/base.backend.html" %}
{% block template %}{{block.super}} colophon{% endblock template %}
{% block title %}//myUni/Colophon - School of Computer Science, University of Nottingham{% endblock title %}

{% block content-inner %}

					<div class="container">
						<h3><span>Colophon</span></h3>
						<p>We decided that every page on the school intranet needed tidying up, so we're rebuilding the entire thing in Django.</p>
						<hr/>
						<p>'We' is <a href="/bxj08u/">Ben</a>, <a href="/rxm08u/">Basil</a>, <a href="/rjg08u/">Rob</a> &amp; <a href="/people/">Marcus</a>.</p>
					</div>

{% endblock content-inner %}