{% extends "myuni/base.backend.html" %}
{% block title %}//myuni - School of Computer Science, University of Nottingham{% endblock title %}

{% block content-inner %}

					<div class="container">
						<p>We decided that every page on the school intranet needed tidying up, so we're rebuilding the entire thing in Django.</p>
						<p>We recommend you <a href="/account/login/">login</a> to make everything personalised to you.</p>
						<hr/>
						<p>'We' is <a href="/bxj08u/">Ben</a>, <a href="/rxm08u/">Basil</a>, <a href="/rjg08u/">Rob</a> &amp; <a href="/people/">Marcus</a>.</p>
					</div>

{% endblock content-inner %}