{% extends "base.list.html" %}
{% block title %}Courses - {{block.super}}{% endblock title %}

{% block site-messages %}
	<div class="global-message">
		<div class="inner">
			<p>This page should have the URL: <a href="/courses/">/courses/</a></p>
		</div>
	</div>
{% endblock site-messages %}

{% block header-inner %}
				<h1>Courses</h1>
{% endblock header-inner %}


{% block content-inner %}
				{{block.super}}
{% endblock content-inner %}

{% block content-secondary %}

						<div class="module">
							<div class="inner">
								
							<h3>Course Type</h3>
							<ul class="navigation">
							
							{% for course_type in course_types %}
							
								<li><a href="/courses/type/{{course_type.slug}}/">{{course_type.name}}</a></li>
							
							{% endfor %}
							
							</ul>
							</div><!-- /.inner -->
						</div><!-- /.module -->
						
{% endblock content-secondary %}

{% block content-primary %}

				{% if courses %}
				<ul>
				{% for course in courses %}
					<li><a class="course-code" href="{{course.get_absolute_url}}">{{course}} {{course.name}} <small>{{course.type.name}}</small></a></li>
				{% endfor %}
				</ul>
				{% else %}
				<div class="error">
					<p>There are no courses available for 2008-2009.</p>
				</div>
				{% endif %}
				
{% endblock content-primary %}
